.text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

}


.text::before {
  content: '';
  float: right;
  height: calc(100% - 24px);
  background-color: red;
  // margin-bottom: -24px;
}

.btntest {
  float: right;
  /*其他装饰样式*/
  clear: both;
  background-color: blueviolet;
  padding: 0;
  cursor: pointer;
  color: white;
  &::after {
    content: '展开';
    display: block;
    clear: both;
  }
}

.exp:checked+.text {
  -webkit-line-clamp: 999; /*设置一个足够大的行数就可以了*/
  max-height: none;
}

// .exp:checked+.text .btntest::after {
//   visibility: hidden;
// }

.exp:checked+.text .btntest::after{
  content:'收起'
}
  


  

