.wheel-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
}

.wheel-pointer {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  background-color: yellow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 60px;
  z-index: 10;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    top: -32px;
    left: 50%;
    
  }
}
